{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @package block_fastnav
    @copyright 17/07/2020 Mfreak.nl | LdesignMedia.nl - Luuk Verhoeven
    @author    Luuk Verhoeven
}}
{{!
    @template block_fastnav/edit_management

    Used for the edit button and delete prevention.

    Example context (json):
    {
        "link" : "/blocks/fastnav/view.php?add"
    }
}}
<div>
    <a href="{{link}}" class="btn btn-primary">
        {{# str}} btn:add, block_fastnav {{/ str}}
    </a>
    <hr>
</div>
{{#js}}
require(['jquery', 'core/notification'], function($, Notification) {
    $(document).ready(function() {
        $('.btn-danger').on('click', function(e) {
            e.preventDefault();
            var href = $(this).attr("href");

            Notification.confirm(
                    '{{# str}} js:confirm_delete_title, block_fastnav {{/ str}}',
                    '{{# str}} js:confirm_delete_message, block_fastnav {{/ str}}',
                    '{{# str}} btn:confirm, block_fastnav {{/ str}}',
                    '{{# str}} btn:cancel, block_fastnav {{/ str}}',
                    function() {
                        window.location = href;
                    });
        });
    });
});
{{/js}}